nav {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}



#container-recursos{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
